*{
  box-sizing: border-box;
}
body{
  background-color:#303030;
  background-image: url(img2.jpg);
  background-blend-mode:overlay;
  background-size:cover;
  color: white;
  font-family: "Source sans pro","sans-serif";
  font-size: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width:100%;
}


.logo{
 line-height: 0;
 color: #087d7d;
}

.mybtn{
  display:grid;
  grid-template-columns: repeat(4,auto);
  gap: 20px;
  padding: 15px;
}
@media (max-width:500px){
  .mybtn{
    display: block;
    font-size: .5rem;
    padding: 10px;
  }
  .dropdown{
    padding: 10px 0;
  }
}

.dropbtn{
  background-color: white;
  color: #087d7d;
  padding: 15px;
  font-size:16px;
  border-radius: 15px;
  border:1px solid black ;
  cursor: pointer;
}
.dropbtn:hover{
   transform:scale(1.1);
   color: black;
}
.dropdown-content{
  display: none;
  background-color:white;
  width: 200px;
  box-shadow: 0 0 5px 2px;
  max-width: 600px;
  z-index: 2;
  
}


.dropdown-content a{
  color: #087d7d;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  font-size:1.5em;
  
}
@media (max-width:500px){
  .dropdown-content a{
    font-size: 1.5em;
  }
}

.dropdown-content a:hover{
  background-color: #303030;
}
.show{
  display: block;
}
.mission{
text-align: center;
background-color: #303030;
color:#fff ;
background-image: url(img1.jpg);
background-blend-mode: multiply;
background-size: cover;
padding: 10px;
}
.title-mission{
  font-size: 2em;
  color: #087d7d;
}
.title-mission::after{
  content: "";
  display:block;
  width: 3.5em;
  height: 1px; 
  margin: 0.2em auto 1em;
  background: white;
  opacity: 0.5;
}
.footer{
  background-color:#111 ;
  text-align: center;
  padding: 10px;
  margin-top: auto;
  
}
.mail-link{
  padding:0 15px ;
}
.whatsapp-link{
  padding: 0 10px;
  
}

.footer a{
  color: #087d7d;
  text-decoration: none;
  font-size:1.5em;
}
.footer a:hover,.footer-link:hover{
  opacity: .5;
  text-decoration: underline;
}
.courses a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-weight:bold;
}
.courses a:hover{
  color:#087d7d;
  cursor:pointer;
}
.lvls{
  color: #087d7d;
}
